<h1>{{ model.title }}</h1>
<h3 class="centered">{{ model.authors }}</h3>

<h3>What is the problem in brief?</h3>
	Traditional menus lack the interactive capabilities that modern software interfaces provide. No conversation exists between a restaurant patron and the menu. Combined with the lack of visual information provided, this seemingly leisurely activity is often transformed into a stressful one. Even the addition of a waiter is often unhelpful; for instance, the patron may be uncomfortable with the interaction, or the waiter may be unable to devote as much attention to the patron as is necessary to remedy the situation.

<h3>How will your project change the status quo?  For whom? </h3>
We aim to design a software-based interface that provides an alternative, more accessible restaurant interaction that can exist alongside the traditional one. This will create a more comfortable experience for patrons who wish have more control over how and what they order, as well as those restricted by the current interaction, such as non-native speakers and children. 

<h3>What is (at least) one naïve design idea (rough sketch)?   How does this idea address what you see as the core problem?</h3>
	We picture an experience where the patron can specify needs such as allergies or a budget they wish to adhere to. The menu automatically displays the available options. By limiting the selection of food that the patron can choose from, the menu becomes less intimidating and more tailored to the patron, creating a more comfortable interaction. 

<h3>What information do you need to collect?  How will you collect it?  How will you meet your target users, or who can serve as effective proxies for them?</h3>
Before moving forward, we need to properly identify pain points associated with the traditional restaurant interaction, as well as the different user groups that would most benefit from our alternative one. As restaurant patrons form a large user base, we intend to use a combination of personal interviews and electronic surveys to gather this information.
Once we know what specific problems we wish to solve, we will focus on specific details and individual interactions. We plan to conduct longer, more personal interviews with specific key users, implementing design strategies such as co-design.
Additionally, we know several companies in Boston, such as E La Carte, are focused on creating electronic menus of their own. We plan to research their systems and contact them in order to approach the problem from different perspectives.


<h3>How will your team work together to accomplish these goals (as well as your individual learning goals)? </h3>
	Our goal as a team is to equally spread experience between us, as well as to transfer existing knowledge among us. As our team is made up of three very different skill sets, we are perfectly equipped to tackling most problems. However, this requires us to act as a team. As such, all team members must be present for every meeting and interview, unless circumstances require otherwise. Additionally, all decisions will be made as a team.