<style>
.container {
	margin-left: 25px;
}
.heading {
	margin-left: 300px;
}
</style>

<script type="text/javascript">
  var coords = $('#header').offset();
  var coordY = 145; //coords.top;
$(window).scroll(function () {
  var scrollPos = $(document).scrollTop();
  console.log(scrollPos + ' ' + coordY);
  if(scrollPos > coordY) {
  	var newPos = scrollPos;
  	$('#header').css('top', 0 + 'px');
  }
  else {
  	$('#header').css('top', coordY - scrollPos + 'px');
  }
});
</script>

<div class="heading">
<h1>{{ model.title }}</h1>
<h3 class="centered">{{ model.authors }}</h3>
</div>


<div id="header" class="uiScrollfix">
<ul class="needsToc">
	<li><h3>Table of Contents</h3></li>
	<li>
		<a ng-click="scrollTo('problem')">The Problem</a>
	</li>
	<li>
		<a ng-click="scrollTo('people')">The People</a>
	</li>
	<li>
		<a ng-click="scrollTo('experience')">The Experience</a>
	</li>
	<li>
		<a ng-click="scrollTo('impact')">The Impact</a>
	</li>
	<li>
		<a ng-click="scrollTo('limitations')">The Limitations</a>
	</li>
</ul>
</div>


<div id="problem" class="section">

<h3>The Problem</h3>
<p>
Family-style restaurants blend the traditional dining experience of tasty food and good company with the exciting and cooperative atmosphere of group. The result is a more dynamic and social experience that can be shared with others. However, this interaction is often held back by the very thing used to create it: the traditional dining experience. Family-style restaurants assume that because traditional menus work in traditional dining, they can be seamlessly transferred to family-style dining with no consequences.
</p>
<p>
This is not true. Deciding an order is an order of magnitude more complicated when done in a group. Many problems often arise when people are forced to consider the constraints of others. As such, the current system of determining an order at family-style restaurants is clumsy, obtuse, and mostly done in the minds of the customers. It does not need to be this way.
</p>
<p>
However, we concede that people enjoy the current state of family-style dining. They enjoy the social benefits of the system and the exciting stories it allows them to tell. Therefore, we aim to solve the following problem: How can we transform the tools of the family-style dining experience so that they create more cohesive group interactions without losing the current social atmosphere?
</p>
</div>

<div id="people" class="section">
<h3>The People</h3>
<p>
In order to understand just who it is we need to design for, we conducted contextual inquiry on a large number of family-style restaurant patrons. From our findings, we were able to determine two key insights.</p>
<p>
First, there are two main axes along which groups of patrons lie: Knowledge of the Restaurant, and Knowledge of One Another. Some people have been to a restaurant dozens of times, while others are experiencing it for their first. Some groups are close families, while others are large groups of friends from school. This insight fits with the idea that the family-style dining experience combines the traditional dining experience (Knowledge of the Restaurant) with the socialization of a group (Knowledge of One Another).</p>
<p>
Second, there appears to be five easily definable groups of people that attend family-style restaurants. We have synthesized our information on these groups into personas. Unlike standard persona, these personas are groups of people, rather than an individual. This is because, at a family-style restaurant, people’s goals are defined almost exclusively by what type of group they are in. As such, our five persona groups, The Yangs, The Blakes, Jeremy and his Guests, Young Lovers Club, and The Gang, are clearly defined by their values and their goals.</p>

<p>
By combining these two insights, we can produce the graph below:</p><br />
<img ng-src="{{ model.imgs.twobytwo }}" width="400" height="400" />

</p>

<p>
Notice how these groups are spread along the axes. Not only is there at least of group in each quadrant, but the final group lies almost directly in the center. This result is representative of the strength these personas will have in further design; such a spread in personas provides us a way to acknowledge and understand the various needs and values of many different types of people and groups.
</p>
</div>

<div id="experience" class="section">
<h3>The Experience</h3>

<p>
	In our contextual inquiry, we came across numerous different perspectives of the family-style dining experience. As stated in the previous section, we synthesized much of the personal information to construct five unique persona groups. The remainder of this information was synthesized in an experience map. To understand many of the terms used in this map, please use our lexicon provided <a href="./#/lexicon">here.</a>
</p>
<p>
	The experience map allows us to visualize the connections between key guiding principles, important phases of the experience, and the perception of these phases by our users. These connections reveal important areas of opportunity where we can create a positive change.
</p>

<p><img ng-src="{{ model.imgs.experiencemapsmall }}" width="1170" height="900" /></p>

</div>

<div id="requirements" class="section">
<h3>The Requirements</h3>
<p>
The guiding principles as presented in the experience map provide the foundation for the basic requirements that our solution must satisfy. Therefore, our solution must:
</p>
<ul>
<li>be convenient, easy, social, and fun.</li>
<li>only be one part of the dining experience. It cannot overtake the other parts of the experience.</li>
<li>allow people to coordinate their meals.</li>
<li>provide service that is respectful, effective, and personable.</li>
<li>complement, not impede, the positive aspects of traditional family-style dining.</li>
</ul>
</div>

<div id="impact" class="section">
<h3>The Impact</h3>
<p>
In order to demonstrate the impact of a successful solution, it is best to look at specific scenarios that groups currently undergo and how the solution could enhance those experiences. Because each group is so different, each has a distinct set of problems. Thus, each persona group has its own scenario to better demonstrate the potential effects of our solution. You can view the narratives <a href="/#/narratives">here</a>.
</p>

</div>


<div id="limitations" class="section">
<h3>The Limitations</h3>
<p>Our approach is limited in two ways. First, we are only addressing restaurant patrons in our design. In truth, there are other stakeholders - namely waiters and the restaurant owner. However, because it is mainly the group’s interactions that are substantially different between traditional and family-style dining, we felt it was more important to focus on that experience rather than the waiter’s, which does not change substantially. However, we still greatly consider how the patrons interact with waiters, so we haven’t completely left them out of the picture.</p>

<p>Second, we are intentionally looking away from transforming many non-order aspects of the meal. This is embodied by the lack of the Intermediate Phase in between the Order Phase and the Meal Phase in the experience map, where much of the socialization occurs. Our purpose is not to fundamentally change how people interact socially in restaurants as a whole. People like it the way it is now. Thus, our main focus will be on the other parts of the experience and how to transform them to be more social.</p>
</div>