<style>
.centered {
	margin-left: 0px;
}
</style>

<h1 class="centered">{{ model.title }}</h1>
<div class="row">
	<div id="kai" class="col-md-4">
		<h2>Kai Austin</h2>
		<img src="public/imgs/team/kai.jpg" width="372" height="438" />
		Junior at Olin College majoring in E:C
	</div>
	<div id="zach" class="col-md-4">
		<h2>Zachary Homans</h2>
		<img src="public/imgs/team/zach.jpg" width="380" height="410" />
		Junior at Olin College majoring in E:C
	</div>
	<div id="james" class="col-md-4">
		<h2>James Wu</h2>
		<img src="public/imgs/team/james.jpg" width="430" height="430" />
		Junior at Olin College majoring in ECE
	</div>
</div>