<style>
.centered {
	margin-left: 0px;
}
.homeheader {
	padding-top: 10px;
	margin-left: auto;
	margin-right: auto;
	width: 40%;
}
</style>



<div class="row">
	<div id="kai" class="col-md-4">
		<img src="public/imgs/team/kai.jpg" width="372" height="438" />
		<h2>Kai Austin</h2>
		Junior at Olin College majoring in E:C
	</div>
	<div id="zach" class="col-md-4">
		<img src="public/imgs/team/zach.jpg" width="380" height="410" />
		<h2>Zachary Homans</h2>
		Junior at Olin College majoring in E:C
	</div>
	<div id="james" class="col-md-4">
		<img src="public/imgs/team/james.jpg" width="430" height="430" />
		<h2>James Wu</h2>
		Junior at Olin College majoring in ECE
	</div>
</div>

<div class="homeheader">
<div>Created at Olin College</div>
<div>ENGR 3220: Human Factors in Interface Design</div>
</div>