<h1>{{ model.title }}</h1>
<h2>{{ model.authors }}</h2>

<h3>Stakeholders</h3>

<dl class="toplevel">
	<dt>Patron</dt>
		<dd>A customer of the restaurant. Their overall goals are to be waited on and served food, and to have a generally pleasurable and social experience with the other patrons they are with.</dd>
	<dt>Waiter</dt>
		<dd>A restaurant server. Their overall goals are to attend to the customers as fast and as efficiently as possible. Tasks include attending to customers, taking orders, handling payments, and answering questions.</dd>
</dl>

<h3>Patron Types</h3>
<dl class="toplevel">
	<dt>Explorers</dt>
		<dd> Either individuals or groups who have not experienced a particular restaurant previously. They are not guided by a host.</dd>
	<dt>Discovery</dt>
		<dd>The act of exploring a new menu or restaurant for new experiences. Discovery is an explorer’s goal.</dd>
	<dt>Peers</dt>
		<dd> A group of patrons where each patron is on the same status level.</dd>
	<dt>Regulars</dt>
		<dd>Either individuals or groups who have previously experienced a particular restaurant.</dd>
	<dt>Family</dt> 
		<dd>A group consisting of very tight-knit patrons, most if not all of which are regulars. They are experienced enough to order as a unit easily.</dd>
	<dt>Parents and Children</dt>
		<dd> A situation in which one person has the majority of influence over another’s decisions.</dd>
	<dt>Host</dt>
		<dd>The most experienced and trustworthy of a group of patrons. Their goal is to successfully navigate the party to construct the most appropriate meal possible for the group so that everyone is satisfied. The guests placed their trust in the host due to their experience. Often the patron who decided to attend the restaurant is the most experienced, and thus becomes the host.</dd>
	<dt>Guests</dt>
		<dd> Less experienced patrons who put trust in the host to making guiding decisions. Many guests have constraints that must be recognized and accounted in the order so that they are satisfied.</dd>
</dl>


<h3>Phases</h3>
<dl class="toplevel">
	<dt>Phase</dt>
		<dd>A period of time identified by the stakeholders’ immediate goals and the actions undergone to achieve them. Each phase is associated by a distinct set of goals.</dd>
	<dt>Constraint Phase</dt>
		<dd>The goal of the constraint phase is for the host or the peers to become familiar with the constraints of each patron. These constraints dictate the decisions of the group. This phase may occur before arriving at the restaurant.</dd>
		<dd>
			<dl>
				<dt>Constraints</dt>
					<dd>Many patrons cannot or choose not to order a particular set of foods for one reason or another. These are known as constraints. Constraints include but are not limited to vegetarianism, religious beliefs, allergies, and price.</dd>
			</dl>
		</dd>
	<dt>Overview Phase</dt>
		<dd>The goal of the overview phase is for the patrons to get a sense of what options are available to order. In this phase, patrons wish to learn more about each dish. Additionally, during this phase the host may suggest staples for the table to order.</dd>
		<dd>
			<dl>
				<dt>Menu</dt>
					<dd>A list of items that serves as a guide to what a restaurant offers with respective descriptions and price. This list is broken up into categories based on their item type. For example: appetizers, salads, meat, fish, vegetarian, etc. Patrons traditionally choose what they want for a meal or drink from this list. Specials are offered separate and not listed. There may be more than one menu at a restaurant serving different purposes.</dd>
				<dt>Browsing/Expanding</dt>
					<dd>The process with which patrons read through a menu to become more familiar with the food offered and determine what best suits their desire. To help decide, it is often useful to provide additional information about a dish to a patron. Patrons may resort to asking the waiter if this information is not present in the menu. The process of finding more in-depth information about a dish is called expanding.</dd>
				<dt>Filtering</dt>
					<dd>As a patron is ordering from a menu, they typically keep track of which items they are interested in ordering, and also might keep a list of items they absolutely would not like to try. The process of keeping mental note of items is called filtering. Later, the filtered list will be further narrowed until the patron’s final choice is made.</dd>
				<dt>Staple</dt>
					<dd>A restaurant typically has a dish or set of dishes which define the experience, making the restaurant unique, or at least are very popular among regulars. We call these dishes staples. “You’re going to Victoria’s? You have to try their twin lobster!”</dd>
			</dl>
		</dd>
	<dt>Collaboration Phase</dt>
		<dd>The goal of the collaboration phase is for the table as a whole to discuss which foods should be ordered. The host often gives out recommendations during this phase.</dd>
		<dd>
			<dl>
				<dt>Recommendation</dt>
					<dd>A recommendation is an endorsement of either a restaurant or a restaurant’s dish made to a patron. Recommendations can be given by hosts, guests, waiters, or even outside sources.</dd>
				<dt>Experience</dt>
					<dd>In the case that a patron has visited a certain restaurant before, or has tried a certain type of food before, or is culturally linked with the food in any way, we call this experience. Experience implies that a patron has more knowledge than the average person about something related to a restaurant’s experience, making this patron an authority for his or her group.</dd>
				<dt>Trust</dt>
					<dd>Trust is the basis of the authority given to a host.</dd>
			</dl>
		</dd>

	<dt>Determination Phase</dt>
		<dd>The goal of the determination phase is to determine precisely what the order will be. If there is a host, they will be the driving force behind balancing the order. Otherwise, the group as a whole must work together to balance the order.</dd>
		<dd>
			<dl>
				<dt>Balancing</dt>
					<dd>Balancing refers to the traditional aspect of a “balanced meal” or eating a diversity of food. For example you can have meat dishes, side dishes, and vegetable dishes.There must be an equal distribution of selected menu items across different types. But there is another level of complexity in that everyone must have access to this diversity. The host must account for each of the guests desires to make everything as equally distributed as possible.</dd>
				<dt>Veto</dt>
					<dd>In order to ensure that the all guests have the best experience, the host has the power to not order, or discourage a guest from having a specific item.</dd>
				<dt>Double Veto</dt>
					<dd>On the other hand, a guest has the power to overrule a host’s veto. If a guest truly wants to get a dish, then the host should comply.</dd>
			</dt>
		</dd>

	<dt>Ordering Phase</dt>
		<dd>The goal of the ordering phase is to physically order the desired order from the waiter. This often requires the host or another patron to recite the order from memory.</dd>
		<dd>
			<dl>
				<dt>The Order</dt>
					<dd>The order is when the desired menu items are verbally recited to the waiter, accounting for as many of the patron’s preferences and constraints as possible. The menu may be used as a medium for remembering what the desired items are. Because the order is recited verbally, other patrons are given the chance to raise any objections.</dd>
			</dl>
		</dd>

	<dt>Meal Phase</dt>
		<dd>The goal of the meal phase is to enjoy the meal. Many patrons want to experience as many different types of food as possible through sampling.</dd>
		<dd>
			<dl>
				<dt>Sampling</dt>
					<dd>Patrons sometimes like to try the food that others have chosen. This allows them to share a greater experience together. A greater diversity of food may also be ordered to allow for greater sampling.</dd>
				<dt>Meal</dt>
					<dd>The food. Ideally it will be balanced and diverse with a number of different dishes. These are often shared communally where each patron can choose what they want to eat and how much. Or, they may be for each individual with specialized dishes for each.</dd>
			</dl>
		</dd>

	<dt>Payment Phase</dt>
		<dd>The goal of the payment phase is to pay for the meal. This often requires the party to split the check. If the group is a family, then one person will pay for the entire family.</dd>
		<dd>
			<dl>
				<dt>Bill</dt>
					<dd>The total cost of the meal brought out by the waiter and paid after everyone has finished eating.</dd>
				<dt>Splitting</dt>
					<dd>In the event of peers, each patron may want to pay for their own share of food. This will require the waiter to separate the bill for each individual, or have the patrons figure out among themselves how much each will contribute. Sometimes the host will pay and the guests will reimburse them later.</dd>
			</dl>
		</dd>
</dl>