<section id="scrollfix">
  <div class="page-header">
    <h1>Scrollfix</h1>
  </div>
  <div class="row">
    <div class="span6">
      <h3>What?</h3>

      <p>Add a 'ui-fixed' class to elements when the page scrolls past them</p>

      <div id="scrollExample" class="well" ui-scrollfix="+800">
        <p ui-scrollfix="-50">They see me scrollin...</p>
        Try scrolling past the red text or changing the offset
      </div>
    </div>
    <div class="span6">
      <h3>Why?</h3>

      <p>Make elements sticky, or simply appear different after scrolling past a certain point</p>

      <p class="alert alert-info"><i class="icon-info-sign"></i> Remember that this directive
        <strong>only</strong> adds a
        <code>ui-scrollfix</code> class to the element. It is up to you to add the corresponding CSS rules, however it also gives you the ability to add other rules instead if you prefer.
      </p>
    </div>
  </div>

  <h3>How?</h3>
  <pre class="prettyprint">&lt;p ui-scrollfix&gt;They see me scrollin...&lt;/p&gt;</pre>
  <p>You can optionally pass a number to
    <code>ui-scrollfix</code> which would override the detected y-offset of the element. Values can be either absolute
    <code>600</code> or offset from the calculated value <code>-50</code> or <code>+100</code>.</p>
</section>
<section>
We are interested in the creation of intelligent machines. By intelligent we mean capable of flexibly and adaptively solving a wide array of tasks that do not have obvious solutions. By machines we mean a variety of things such as robots, mobile computing devices, and software programs. By we, I currently mean I (since I am still in the process recruiting my first group of students). While the quest for creating artificial intelligence has long been a goal of computer science, a number of recent trends (both hardware and software) have made the present a time of nearly unlimited promise for the advancement of AI research. The trends driving our optimism include:

New developments in machine learning: machine learning is a new field of computer science concerned with developing, analyzing, and applying algorithms for learning from data. These algorithms have significantly broadened the abilities of machines to solve tasks in such diverse fields as computer vision, data mining, robotics, and control.
New computing hardware: the availability of cheap embedded systems (such as Arduino, Raspberry PI), along with the proliferation of smart phones, cheap video sensors, as well as cloud-based computing platforms such as Amazon's EC2 provide many new opportunities for computer science researchers.
New ways to learn from humans: projects such as the ESP game and Amazon's mechanical Turk have shown that internet technology can be used to harvest vast amounts of human intelligence to solve interesting computational problems.
These trends enable motivated students to contribute to the goal of developing intelligent machines through research in areas such as algorithms and analysis, software development, electrical and computer engineering, design, and data analysis.

Current Research Focus: Crowdsourcing Sensorimotor Intelligence for Assistive Machines

This project starts from the following premise: there is a huge pool of people that want to volunteer to help others, but don't due to a variety of factors including: the difficulty of investigating where their talents can be utilized, physically commuting to the location for volunteering, and finding times where they are free and their services are needed. Wouldn't it be great if we could overcome all of these limitations and thus free up this huge untapped pool of goodwill? We are working to harness cutting edge computer science to do just that by leveraging human volunteers to power intelligent machines for helping disabled populations.

Thoreau's great problem was that he was a nature writer and an ecologist working at a time before either of those categories made any sense, partly because he was helping to invent them. To his friends and fellow writers, Thoreau was a disappointment, a talented writer who had chosen to squander his gifts picking huckleberries.

Towards the end of his life, Thoreau actually got very systematic in the data he collected; he may have known more than any man alive about the ecology of New England. But this meant nothing to anyone but him. Nor was it obvious that his nature writing was on a par with the more 'literary' efforts of his time.

I mention this because all of us in this room are very lucky to be present at the birth of a new medium. It may not feel new, but it really is early days. We get to define what kind of things it will possible to "be" online. That's an enormous privilege.

But it comes with a price, a kind of centrifugal force you can feel tugging at your identity, pulling you towards other roles that already exist. It can be uncomfortable not to have a name for the thing you do. You have to make sure you plant your feet, and take care to pick the right spot to stand on.

  
Thoreau's first book was a failure. He had it published himself, and at some point his publisher made him come down and fetch the rest of the print run, which was taking up too much space. Thoreau hauled it up to Concord, and told a friend at the time:

I have now a library of nearly 900 volumes, over 700 of which I wrote myself.
But this hurt! He had to go back to work at his father's pencil factory (if you've ever used a Conté crayon, you have Henry David Thoreau to thank, since he re-invented the process for making them). And when that didn't work, he had to pivot to farm labor, and finally surveying. Surveying, at least, let him work outside and in the woods, but he was often working for people who wanted to cut down the forest he spent all his free time in.

There's a pernicious idea that comes out of startup culture called "fail fast". I've always been a big believer in failing slowly. When you're not in for the money, success doesn't come to you pre-labeled. It can look just like failure. Chasing money makes it easier, because then you can quantify success unambiguously. Otherwise, you may have a hard time telling the two apart.

You can work on a lot of projects, but you will only get a couple of opportunities to work on something long-term. So I would say pick those carefully, do things that are intrinsically rewarding, and be very loath to abandon them. And work that day job if you have to!

  
The best piece of advice Thoreau ever got was from Emerson, who told him to keep a journal. And Thoreau did, for decades, using it as a personal diary, a record of his botanical and scientific observations, and a kind of staging ground for his serious writing. He would go back and mine it years later for passages to use in his work.

I don't think everyone needs to keep a literary journal, but I think it's vital to keep a work diary, for three reasons:

First, because it's the only honest record of what you're thinking at the time. Your memory will lie to you, almost immediately, about what you thought was going to happen on any given day. The only way you can trust it is to write down your state of mind - what you're worried about, what you expect will happen. And then over time you can go back and look for patterns of thought that you might want to fix. Maybe you're always too optimistic, or maybe you choose to work with toxic people, or chronically underestimate what things will cost. Writing it down will help you understand your mental habits, and correct for them.

Second, a work diary helps you track what you're actually doing. It's easy to get lost in the weeds from day to day, but are you ever spending time working on the things you think are most important? Thoreau was mistrustful of trivia the same way he mistrusted complexity, its capacity to take over our lives and push out what we value. An honest work record will tell you what you actually did, and what you spent your time thinking about.

Finally, and most importantly, writing things down captures the details that you only glean from experience. The one thing separating me from the high-IQ theoreticians on a message board is the fact that I've actually been running a bookmarking site for four years. Experience is priceless, you can't get it except by doing it, so you want to be sure not to fritter any of it away, and document the details as they happen.

They can come in useful later in the most surprising circumstances.

  
A charming thing about Walden is that Thoreau starts it straight away talking about money. He gives the full cost of building his house (around $24) and the total profit he got from cultivating his bean field, about eight bucks.

If you're not motivated by money, it's easy to talk sometimes as if money is beneath you. But money is beneath us like the ground is beneath us; if it disappears, down we go. Only rich people have the luxury of not talking about money.

As independent creators, trying to coax other people into striking out on their own, I think we have to take special care to be direct and honest about the financial aspects of our work.

In working on Pinboard, I've benefitted from other projects that publish their expenses, especially in areas where these numbers would be really hard to estimate. And I've tried to do the same, sharing a spreadsheet with expenses for each year I've run the site.

Sharing revenue, of course, is scarier. But I've discovered that the only people who really care are other people trying to start solo projects, and they find it helpful.

So I'll go first - last year Pinboard earned $181,000. By my calculations, this makes me over 23,000 times as successful as Henry David Thoreau.

  
How does it become a man to behave toward the American government today? I answer, that he cannot without disgrace be associated with it.
In 1846, Thoreau was thrown into jail for failing to pay his poll tax for six years. This was his protest against the Mexican War, which he saw as an attempt to extend slavery into the Western Territories.

After leaving jail, Thoreau wrote an essay called “Resistance to Civil Government”, where he tried to reason out what we should do when the government compels us to do something morally wrong.

It's not our job, Thoreau argues, to fix the world. We may not have the time for that. But we can't cooperate with injustice. If the law compels us to do something wrong, we have to break that law.

This doctrine of non-cooperation with civil authority would have a powerful effect on Gandhi and Martin Luther King.

Over the past few months, we've heard some shocking things about the extent to which our government is monitoring our online activity. To me more upsetting than the surveillance is the apparatus of secrecy that has been built around it, to make it impossible to observe, or honestly discuss, the full extent of what is going on.

I've come to believe that it's time for us to take a stand, and refuse to cooperate with this apparatus of secrecy. We've already seen Lavabit, in an act of great moral courage, throw away ten years of hard work rather than acquiesce to blanket monitoring of its users. But the fact that Lavar wasn't even able to give the reasons for shutting his project down, that we had to infer them from his silence, demonstrates the problem.

If anyone is going to refuse to cooperate, it is going to be small independent projects, not large corporations. "The rich man—not to make any invidious comparison—is always sold to the institution which makes him rich".

Larry Page is not going to go to jail. Marissa Mayer is not going to jail - she's already said she thinks it's tantamount to treason! The large corporations - whose own business model, after all, is surveillance - have folded their hands and said "we've done everything we can within the law to fight this".

But Thoreau argued, and I agree, that there is a higher law.

The reason I think it's vital we act now is that this state of affairs is still shocking, still disturbing. Let it persist and it will become the new normal (in other words, the "old shitty") and anyone trying to fight it is going to be branded a Utopian or hopelessly naive, unable to come to terms with modernity.

We should commit to giving legal, financial and moral support to anyone who refuses to obey gag order, or publishes a National Security Letter. The secrecy exists because the programs it cloaks can't withstand the light of day. One good, timely push will break them.

Whether or not you agree with me, I would urge you to read Thoreau's essay, and decide for yourself: where do you draw the line? What will it take to make you stop cooperating?

  
You could make a cynical case that Thoreau was a bit of a phony. He conducted his experiment in self-reliance on land lent to him by a friend, limited his stay to two years, and received a stream of visitors the entire time. On Sundays, his mom and sister would come out with a basket of doughnuts and pies, which Thoreau devoured, presumably while they washed his socks and made his bed.

Even his famous moral stand against the poll tax came after just one night in jail. Under cover of darkness, someone (probably his aunt) came by and paid the tax bill, and then paid it every year from then on.

So Thoreau had all these people, mostly women, who silently enabled the life he thought he was heroically living for himself.

But a gentler, more generous way to look at it is this. If you live a life by your own lights, and follow your principles, maybe once in a while someone will come and bring you a basket of donuts. And it's okay to eat the donuts! They're delicious!

Thoreau said about his two years at Walden:

I learned this, at least, by my experiment; that if one advances confidently in the direction of his dreams, and endeavors to live the life which he has imagined, he will meet with a success unexpected in common hours.
Thoreau wrote this never having tasted any of traditional forms of success. He was thinking of a different, more fundamental kind of success, one that I wish for myself, and earnestly wish for all of you.

But the greatest lesson, the one thing you should retain from reading Thoreau even if you forget everything else, is this:

  
Go outside. It's a beautiful day, it's lunchtime, and Portland is a beautiful city!
</section>