
<deck>
	<slide>
		<h1>Storyboards</h1>
		<h2>Hint: use arrow keys to advance / retreat</h2>
	</slide>
	<slide>
		<h1>Arrival</h1>
		<img ng-src="public/imgs/storyboards/hfid-storyboard_arrival.png" />
	</slide>
	<slide>
		<h1>Seating</h1>
		<img ng-src="public/imgs/storyboards/hfid-storyboard_allTableView.png" />
	</slide>
	<slide>
		<h1>Examining the electronic menu</h1>
		<img ng-src="public/imgs/storyboards/hfid-storyboard_menuview.png" />
	</slide>
	<slide>
		<h1></h1>
		<img ng-src="public/imgs/storyboards/hfid-storyboard_menuselect.png" />
	</slide>
	<slide>
		<h1></h1>
		<img ng-src="public/imgs/storyboards/hfid-storyboard_menuDetails.png" />
	</slide>
	<slide>
		<h1></h1>
		<img ng-src="public/imgs/storyboards/hfid-storyboard_twoTalking.png" />
	</slide>
	<slide>
		<h1></h1>
		<img ng-src="public/imgs/storyboards/hfid-storyboard_centerItems.png" />
	</slide>
	<slide>
		<h1></h1>
		<img ng-src="public/imgs/storyboards/hfid-storyboard_dragFromCenter.png" />
	</slide>
	<slide>
		<h1></h1>
		<img ng-src="public/imgs/storyboards/hfid-storyboard_dragOutsideMenu.png" />
	</slide>
	<slide>
		<h1></h1>
		<img ng-src="public/imgs/storyboards/hfid-storyboard_dragToCenter.png" />
	</slide>
	<slide>
		<h1>Order is placed</h1>
		<img ng-src="public/imgs/storyboards/hfid-storyboard_waiter.png" />
	</slide>
</deck>