<h1>{{ model.title }}</h1>
<h3 class="centered">{{ model.authors }}</h3>

<h2>Hypothesis</h2>
<p>
Up until this point, we have been under the firm belief that introducing a voting system into our design will transform the dynamic conversations of patrons into number-obsessed voting with lack of regard for actual discussion. However, it can also be argued that having that information can lead to more informed discussions and thus a better final order. Our hypothesis is that displaying the number of votes a dish has will reduce or otherwise transform discussion in a negative way.</p>

<h2>Variables</h2>
<p>For our experiment, we will keep the following variables constant throughout tests: Number of people, Menu interface, Menu selections, Tablet+Computers control. The only variable we will be changing is the inclusion of a small box next to each dish. This box will contain the traditional “like” symbol, with a number below it corresponding to the number of people that have “liked” that dish. The dependent variables we are observing are the amount of conversation by time that users spend deliberating their final order and the percentage of that time they spend discussing how many people liked each dish.
</p>

<h2>Experimental Design</h2>
<ol>
<li>Gather twenty groups of six-person families and twenty groups of six friends.</li>
<li>Randomly split them into two blocks (one that includes the voting system, one that does not) such that there is ten of each group in each block.</li>
<li>Using a menu for a Tapas restaurant, explain to each group how the system works using the separated tablet and computer interfaces.</li>
<li>Instruct each group to come to a final order using the system as if they would be actually eating the meal.</li>
<li>Record audio of each group’s discussion.</li>
<li>Afterwards, process the audio of each group’s discussion to determine the amount of discussion and the approximate proportion of time was time discussing “numbers” or “the amount of people who like a dish”.</li>
</ol>

<h2>Expected Results</h2>
<p>
If our hypothesis is correct, we expect the amount of conversation users have to be significantly less with the voting system displayed, with a high proportion of the conversation focused on discussing how many people like each dish. Likewise, we expect conversations to be longer without the voting system displayed, but with only a small proportion of the conversation focused on numbers.</p>